# Linear Regression Lab

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50

In [2]:
clean_df = pd.read_csv("Data_Marketing_Customer_Analysis_Round3.csv")

RAND_STATE = 34 # for reproducible shuffling

In [3]:
# Using the np.number and object methods to segregate the numerical data types and categorical data types
# respectively, since for now we will only use the numerical variables.

numerical_df = clean_df.select_dtypes(include=np.number)
categorical_df = clean_df.select_dtypes(include=object)

### Tuesday (31.01.2023)


#### Activity 1:
X-y split (y is the target variable, which is the total claim amount).

In [4]:
X = numerical_df.drop(['total_claim_amount'], axis = 1)
y = numerical_df.total_claim_amount

#### Activity 2:
Train-test split.

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 30, random_state = RAND_STATE)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

#### Activity 3:
Standardize the data (after the data split).

In [6]:
scaler = StandardScaler()
X_train_s = scaler.fit_transform(X_train) # get the parameters using the train set and apply to them

In [7]:
X_test_s = scaler.transform(X_test) # apply the parameters of the train set to the test set

# You don't transform the target feature.

#### Activity 4:
Apply linear regression.

In [8]:
X_train_const = sm.add_constant(X_train_s)

model = sm.OLS(y_train, X_train_const).fit()
y_pred_train = model.predict(X_train_const)

X_test_const = sm.add_constant(X_test_s)
y_pred_test = model.predict(X_test_const)

#### Activity 5:
Model Interpretation.

In [9]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.410
Model:                            OLS   Adj. R-squared:                  0.410
Method:                 Least Squares   F-statistic:                     1058.
Date:                Wed, 01 Feb 2023   Prob (F-statistic):               0.00
Time:                        16:57:19   Log-Likelihood:                -72834.
No. Observations:               10659   AIC:                         1.457e+05
Df Residuals:                   10651   BIC:                         1.457e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        434.2805      2.176    199.587      0.000     430.015     438.546
x1            -7.3793      2.382     -3.098      0.002     -12.049      -2.710
x2           -31.8131      2.177    -14.612      0.000     -36.081     -27.546
x3           187.3009      2.381     78.663      0.000     182.634     191.968
x4             1.2603      2.178      0.579      0.563      -3.009       5.530
x5            -1.9659      2.178     -0.903      0.367      -6.235       2.303
x6            -1.0056      2.177     -0.462      0.644      -5.274       3.263
x7             1.1484      2.177      0.527      0.598      -3.119       5.416
==============================================================================
Omnibus:                     1215.324   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6032.963
Skew:                           0.449   Prob(JB):                         0.00
Kurtosis:                       6.575   Cond. No.                         1.54
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Wednesday (01.02.2023)

#### Model Evaluation - activities:
- MSE
- RMSE
- MAE
- R2
- Adjusted R2
- Feature Importance

In [10]:
# Calculating the MSE - Mean squared error for both the train and test set:

print(mse(y_train, y_pred_train))
print(mse(y_test, y_pred_test))

# You can see that the MSE is bigger for the test set than for the train set, which is expected.

50427.47391684814
80055.97276654038

In [11]:
# Calculating the RMSE - Root mean squared error for both the train and test set:

import math

print(math.sqrt(mse(y_train, y_pred_train)))
print(math.sqrt(mse(y_test, y_pred_test)))

224.56062414601573
282.94164198035674

In [12]:
# Calculating the MAE - Mean Absolute Error for both the train and test set:

print(mae(y_train, y_pred_train))
print(mae(y_test, y_pred_test))

152.43643057559507
189.6765386550149

In [13]:
# Calculating the R2 for both the train and test set:

print(r2_score(y_train, y_pred_train))
print(r2_score(y_test, y_pred_test))

# Again, the "performance" of the model is better on the train set (higher R2) than in the test set.

0.4101208388205483
0.3173289787971604

In [14]:
# Calculating the adjusted R2 of the train set:

print(model.rsquared_adj)

0.40973316121954795

In [15]:
# Getting a data frame with the feature importance in the model

params = pd.DataFrame({"features": X_train.columns, "coef": abs(model.params).drop("const")})

In [16]:
features_importances = params.sort_values(by= "coef", ascending=False)
features_importances

                         features        coef
x3           monthly_premium_auto  187.300914
x2                         income   31.813133
x1        customer_lifetime_value    7.379252
x5  months_since_policy_inception    1.965856
x4        months_since_last_claim    1.260289
x7             number_of_policies    1.148400
x6      number_of_open_complaints    1.005595

#### Model Iteration - activity:

Rerun the model after adding the hot encoded categorical variables as well as other numeric categorical variables (e.g. number of open complaintes).

In [17]:
## Separating nominal and ordinal variables:

nominal_df = categorical_df[["region", "response", "employment_status", "gender", "location_code", "marital_status", "policy_type", "policy", "sales_channel", "vehicle_class"]]
ordinal_df = categorical_df[["coverage", "education", "month", "renew_offer_type", "vehicle_size"]]

In [18]:
## Dummifying the nominal columns:

nominal_df = pd.get_dummies(nominal_df, drop_first = True)
nominal_df

,region_east,region_north west,region_west region,response_yes,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_m,location_code_suburban,...,policy_special l2,policy_special l3,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car
0,0,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
2,1,0,0,0,1,0,0,0,1,1,...,0,0,0,1,0,0,0,0,1,0
3,0,1,0,1,1,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
4,0,1,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,1,1,0,0,0,0
10685,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10686,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
10687,0,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
10688,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,1,0,0,0,1,0

In [19]:
## Ordinal encoding the ordinal columns:

pd.options.mode.chained_assignment = None 

ordinal_df["coverage"] = ordinal_df["coverage"].replace({"basic": 0, "extended": 1, "premium": 2})
ordinal_df["education"] = ordinal_df["education"].replace("bachelor", "college")
ordinal_df["education"] = ordinal_df["education"].replace({"high school or below": 0, "college": 1, "master": 2, "doctor": 3})
ordinal_df["month"] = ordinal_df["month"].replace({"jan": 1, "feb": 2})
ordinal_df["renew_offer_type"] = ordinal_df["renew_offer_type"].replace({"offer1": 1, "offer2": 2, "offer3": 3, "offer4": 4})
ordinal_df["vehicle_size"] = ordinal_df["vehicle_size"].replace({"small": 0, "medsize": 1, "large": 2})
ordinal_df

       coverage  education  month  renew_offer_type  vehicle_size
0             0          1      2                 3             1
1             0          1      1                 4             1
2             0          1      2                 3             1
3             1          1      1                 2             1
4             2          1      1                 1             1
...         ...        ...    ...               ...           ...
10684         2          1      1                 3             1
10685         0          1      1                 2             1
10686         1          1      2                 1             1
10687         2          1      2                 1             1
10688         0          1      1                 4             1

[10689 rows x 5 columns]

In [20]:
# concatenating both categorical dataframes and the numerical one

df = pd.concat([nominal_df, ordinal_df, numerical_df], axis=1)
df

,region_east,region_north west,region_west region,response_yes,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_m,location_code_suburban,...,renew_offer_type,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,0,0,0,1,0,0,0,1,1,...,3,1,4809,48029,61,7,52,0,9,292
1,0,0,1,0,0,0,0,1,0,1,...,4,1,2228,92260,64,3,26,0,1,744
2,1,0,0,0,1,0,0,0,1,1,...,3,1,14947,22139,100,34,31,0,2,480
3,0,1,0,1,1,0,0,0,1,1,...,2,1,22332,49078,97,10,3,0,2,484
4,0,1,0,0,0,1,0,0,0,1,...,1,1,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,0,0,0,0,0,0,0,1,0,1,...,3,1,15563,61541,253,12,40,0,7,1214
10685,0,1,0,0,1,0,0,0,0,0,...,2,1,5259,61146,65,7,68,0,6,273
10686,0,0,0,0,1,0,0,0,0,0,...,1,1,23893,39837,201,11,63,0,2,381
10687,0,0,1,0,1,0,0,0,0,0,...,1,1,11971,64195,158,0,27,4,6,618
10688,0,0,0,0,0,0,0,1,1,1,...,4,1,6857,68942,101,31,1,0,3,1021

In [21]:
# Splitting the dependent and the independent features:

X = df.drop(['total_claim_amount'], axis = 1)
y = df.total_claim_amount

In [22]:
# Test-train split:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=30, random_state=42)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [23]:
# Applying linear regression:

X_train_const = sm.add_constant(X_train)

model = sm.OLS(y_train, X_train_const).fit()
y_pred_train = model.predict(X_train_const)

X_test_const = sm.add_constant(X_test)
y_pred_test = model.predict(X_test_const)

In [24]:
# Veryfing the model:

print(model.summary()) # way better R2

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.770
Model:                            OLS   Adj. R-squared:                  0.770
Method:                 Least Squares   F-statistic:                     868.8
Date:                Wed, 01 Feb 2023   Prob (F-statistic):               0.00
Time:                        16:57:19   Log-Likelihood:                -67816.
No. Observations:               10659   AIC:                         1.357e+05
Df Residuals:                   10617   BIC:                         1.360e+05
Df Model:                          41
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                            -354.2735     15.205    -23.299      0.000    -384.079    -324.468
region_east                         5.6249      5.285      1.064      0.287      -4.735      15.985
region_north west                  -1.7032      3.614     -0.471      0.637      -8.787       5.381
region_west region                  3.8759      3.448      1.124      0.261      -2.883      10.635
response_yes                      -21.3829      4.336     -4.931      0.000     -29.883     -12.883
employment_status_employed         -9.1548      7.060     -1.297      0.195     -22.993       4.684
employment_status_medical leave    12.7532      9.022      1.414      0.158      -4.931      30.438
employment_status_retired         -10.5030     10.581     -0.993      0.321     -31.244      10.238
employment_status_unemployed       78.6844      7.470     10.533      0.000      64.041      93.328
gender_m                           15.7538      2.750      5.728      0.000      10.363      21.145
location_code_suburban            380.9166      3.933     96.861      0.000     373.208     388.625
location_code_urban               222.4692      4.499     49.449      0.000     213.650     231.288
marital_status_married             -3.5745      4.038     -0.885      0.376     -11.489       4.340
marital_status_single              66.8160      4.652     14.362      0.000      57.696      75.936
policy_type_personal auto           1.0384      5.263      0.197      0.844      -9.278      11.355
policy_type_special auto           14.7290      7.470      1.972      0.049       0.086      29.372
policy_corporate l2                -6.3528      8.680     -0.732      0.464     -23.367      10.662
policy_corporate l3                -0.3050      7.931     -0.038      0.969     -15.851      15.241
policy_personal l1                  4.4612      3.378      1.321      0.187      -2.161      11.083
policy_personal l2                 -1.6015      2.928     -0.547      0.584      -7.340       4.137
policy_personal l3                 -1.8212      2.655     -0.686      0.493      -7.025       3.383
policy_special l1                  38.1428     12.641      3.017      0.003      13.363      62.922
policy_special l2                 -12.1275      9.178     -1.321      0.186     -30.119       5.864
policy_special l3                 -11.2863      9.553     -1.181      0.237     -30.012       7.440
sales_channel_branch                1.2788      3.425      0.373      0.709      -5.435       7.993
sales_channel_call center           1.5060      3.830      0.393      0.694      -6.002       9.014
sales_channel_web                   3.5306      4.213      0.838      0.402      -4.727      11.788
vehicle_class_luxury car           23.9871     17.420      1.377      0.169     -10.160      58.134
vehicle_class_luxury suv          -21.3102     17.518     -1.216      0.224     -55.648      13.028
vehicle_class_sports car          -24.3517      7.844     -3.105      0.002     -39.727      -8.976
vehicle_class_suv                 -18.2735      5.891     -3.102      0.002     -29.821      -6.726
vehicle_class_two-door car         -1.4427      3.574     -0.404      0.686      -8.449       5.563
coverage                           -9.1348      3.365     -2.715      0.007     -15.731      -2.539
education                         -10.4367      1.971     -5.295      0.000     -14.300      -6.573
month                               0.5169      2.736      0.189      0.850      -4.846       5.880
renew_offer_type                    2.6783      1.428      1.876      0.061      -0.121       5.477
vehicle_size                       -0.9098      2.572     -0.354      0.723      -5.951       4.131
customer_lifetime_value            -0.0001      0.000     -0.546      0.585      -0.001       0.000
income                             -0.0002   6.33e-05     -2.832      0.005      -0.000   -5.52e-05
monthly_premium_auto                5.2427      0.116     45.195      0.000       5.015       5.470
months_since_last_claim             0.3605      0.135      2.661      0.008       0.095       0.626
months_since_policy_inception      -0.0163      0.049     -0.332      0.740      -0.113       0.080
number_of_open_complaints          -2.0135      1.499     -1.344      0.179      -4.951       0.924
number_of_policies                  0.6231      0.572      1.089      0.276      -0.498       1.744
==============================================================================
Omnibus:                     4716.731   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            59650.620
Skew:                           1.783   Prob(JB):                         0.00
Kurtosis:                      14.027   Cond. No.                     1.11e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.92e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

#### Optional activity:
Rerun the model after removing the outliers and compare the results using R2 metric.

In [25]:
from scipy.stats import iqr
def remove_outliers(df):
    for c in df.columns:
            pct_75 = np.percentile(df[c], 75)
            pct_25 = np.percentile(df[c], 25)
            upper_bound = pct_75 + 1.5*iqr(df[c])
            lower_bound = pct_25 - 1.5*iqr(df[c])
            condition = (df[c] < upper_bound) & (df[c] > lower_bound)
            df[c] = df[c][condition]  # Filter out the outliers
    return df

In [26]:
# Removing "number of open complaints" because it makes no sense to remove outliers here. Also removed the target feature.

numerical_df2 = numerical_df.drop(["number_of_open_complaints", "total_claim_amount"], axis = 1) 
numerical_df2 = remove_outliers(numerical_df2)

In [27]:
numerical_df2

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_policies
0,4809.0,48029,61.0,7,52,NaN
1,2228.0,92260,64.0,3,26,1.0
2,14947.0,22139,100.0,34,31,2.0
3,NaN,49078,97.0,10,3,2.0
4,9025.0,23675,117.0,33,31,7.0
...,...,...,...,...,...,...
10684,15563.0,61541,NaN,12,40,7.0
10685,5259.0,61146,65.0,7,68,6.0
10686,NaN,39837,NaN,11,63,2.0
10687,11971.0,64195,158.0,0,27,6.0
10688,6857.0,68942,101.0,31,1,3.0

In [28]:
# concatenating both categorical dataframes and the numerical one without outliers, reincluding the "number of open complaints" column.

df2 = pd.concat([nominal_df, ordinal_df, numerical_df2, numerical_df["number_of_open_complaints"], numerical_df["total_claim_amount"]], axis = 1)
df2 = df2.dropna()
df2

,region_east,region_north west,region_west region,response_yes,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_m,location_code_suburban,...,renew_offer_type,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_policies,number_of_open_complaints,total_claim_amount
1,0,0,1,0,0,0,0,1,0,1,...,4,1,2228.0,92260,64.0,3,26,1.0,0,744
2,1,0,0,0,1,0,0,0,1,1,...,3,1,14947.0,22139,100.0,34,31,2.0,0,480
4,0,1,0,0,0,1,0,0,0,1,...,1,1,9025.0,23675,117.0,33,31,7.0,0,707
5,0,0,1,1,1,0,0,0,1,1,...,1,1,4745.0,50549,61.0,2,73,7.0,0,292
6,0,0,1,0,1,0,0,0,0,0,...,2,1,5035.0,37405,63.0,8,99,4.0,3,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10681,0,0,1,0,1,0,0,0,0,1,...,2,1,3579.0,28304,91.0,10,30,1.0,2,655
10682,0,0,0,0,1,0,0,0,1,1,...,2,1,2771.0,59855,74.0,30,82,1.0,4,355
10685,0,1,0,0,1,0,0,0,0,0,...,2,1,5259.0,61146,65.0,7,68,6.0,0,273
10687,0,0,1,0,1,0,0,0,0,0,...,1,1,11971.0,64195,158.0,0,27,6.0,4,618
10688,0,0,0,0,0,0,0,1,1,1,...,4,1,6857.0,68942,101.0,31,1,3.0,0,1021

In [29]:
# X/Y splitting:

X = df2.drop(["total_claim_amount"], axis = 1)
y = df2.total_claim_amount

In [30]:
# Train/test splitting:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=30, random_state=55)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [31]:
# Applying linear regression:

X_train_const = sm.add_constant(X_train)

model = sm.OLS(y_train, X_train_const).fit()
y_pred_train = model.predict(X_train_const)

X_test_const = sm.add_constant(X_test)
y_pred_test = model.predict(X_test_const)

In [32]:
print(model.summary()) # only slightly better R2 -> 0.770 without removing outliers and 0.747 removing outliers

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.747
Model:                            OLS   Adj. R-squared:                  0.746
Method:                 Least Squares   F-statistic:                     637.3
Date:                Wed, 01 Feb 2023   Prob (F-statistic):               0.00
Time:                        16:57:20   Log-Likelihood:                -55102.
No. Observations:                8891   AIC:                         1.103e+05
Df Residuals:                    8849   BIC:                         1.106e+05
Df Model:                          41
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                            -309.9550     16.233    -19.094      0.000    -341.776    -278.134
region_east                         6.4908      4.922      1.319      0.187      -3.157      16.138
region_north west                  -0.5643      3.362     -0.168      0.867      -7.155       6.026
region_west region                  3.0769      3.203      0.961      0.337      -3.203       9.356
response_yes                      -19.1290      4.019     -4.759      0.000     -27.008     -11.250
employment_status_employed         -3.1190      6.562     -0.475      0.635     -15.982       9.744
employment_status_medical leave    16.3154      8.331      1.958      0.050      -0.016      32.647
employment_status_retired           7.5591      9.796      0.772      0.440     -11.644      26.762
employment_status_unemployed       75.3501      6.932     10.870      0.000      61.762      88.938
gender_m                           11.5404      2.553      4.521      0.000       6.537      16.544
location_code_suburban            361.2181      3.634     99.396      0.000     354.094     368.342
location_code_urban               212.2093      4.147     51.170      0.000     204.080     220.339
marital_status_married              2.2443      3.768      0.596      0.551      -5.141       9.630
marital_status_single              63.5649      4.342     14.638      0.000      55.053      72.077
policy_type_personal auto           1.8426      4.982      0.370      0.712      -7.923      11.608
policy_type_special auto           13.4778      6.957      1.937      0.053      -0.160      27.116
policy_corporate l2                -4.4353      8.140     -0.545      0.586     -20.392      11.521
policy_corporate l3                -2.5544      7.491     -0.341      0.733     -17.238      12.129
policy_personal l1                  6.0704      3.138      1.934      0.053      -0.081      12.222
policy_personal l2                 -3.3005      2.734     -1.207      0.227      -8.660       2.059
policy_personal l3                 -0.9273      2.486     -0.373      0.709      -5.801       3.946
policy_special l1                  40.6836     11.450      3.553      0.000      18.239      63.128
policy_special l2                 -12.5376      8.430     -1.487      0.137     -29.063       3.988
policy_special l3                 -14.6682      8.947     -1.639      0.101     -32.207       2.871
sales_channel_branch                0.0296      3.178      0.009      0.993      -6.200       6.259
sales_channel_call center           1.5270      3.548      0.430      0.667      -5.427       8.481
sales_channel_web                   2.8362      3.944      0.719      0.472      -4.895      10.567
vehicle_class_luxury car            4.5586     37.810      0.121      0.904     -69.558      78.676
vehicle_class_luxury suv          -78.3016     42.371     -1.848      0.065    -161.358       4.755
vehicle_class_sports car           -2.3385      8.778     -0.266      0.790     -19.545      14.868
vehicle_class_suv                  -2.1895      7.179     -0.305      0.760     -16.262      11.883
vehicle_class_two-door car         -1.6192      3.218     -0.503      0.615      -7.928       4.690
coverage                           -1.2041      3.889     -0.310      0.757      -8.828       6.420
education                          -7.2675      1.828     -3.976      0.000     -10.851      -3.684
month                              -0.6087      2.545     -0.239      0.811      -5.597       4.380
renew_offer_type                    1.6549      1.326      1.248      0.212      -0.944       4.254
vehicle_size                       -7.4243      2.390     -3.106      0.002     -12.110      -2.738
customer_lifetime_value            -0.0005      0.000     -1.015      0.310      -0.001       0.000
income                             -0.0002   5.86e-05     -2.897      0.004      -0.000   -5.49e-05
monthly_premium_auto                4.8748      0.161     30.215      0.000       4.559       5.191
months_since_last_claim             0.1880      0.126      1.487      0.137      -0.060       0.436
months_since_policy_inception      -0.0494      0.045     -1.087      0.277      -0.139       0.040
number_of_policies                  1.4732      0.626      2.354      0.019       0.246       2.700
number_of_open_complaints          -1.4759      1.366     -1.080      0.280      -4.154       1.202
==============================================================================
Omnibus:                     3230.244   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            18436.750
Skew:                           1.640   Prob(JB):                         0.00
Kurtosis:                       9.246   Cond. No.                     1.11e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.42e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.